<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span class="fontKuning">Profil</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar class="ion-text-center">
      <p class="judulIOS">
        <span class="fontKuning">Profil</span>
      </p>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item>
      <ion-label>
        Id User : {{id_user}}<br>
        Username : {{username}}
        <ion-button
          color="success"
          slot="end"
          class="editPW"
          expand="block"
          [routerLink]="['/pass-edit/',id_user]"
          routerLinkActive="router-link-active"
          >Edit Password</ion-button
        >
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
